.footer{
    background-color: #f26d3e;

    ul{
        a{
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 10px 0;
            display: block;
        }
    }
    p{
        color: #fff;
        margin: 0 0 6px 0;
    }
}