.hero {
    background: url("https://surokkha.gov.bd/static/media/banner-bg.7358efba.jpg");
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .enrollment {
        background-color: #fff;
        text-decoration: none;
        color: #000;
        padding: 0;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;

        &:hover {
            background-color: #daedff;
        }
    }

    .card {
        padding: 35px 24px;
        background-color: transparent;
    }
    .card-body {
        margin-bottom: 25px;
        strong {
            font-weight: 700;
            line-height: 40px;
            text-decoration: none;
            color: #000;
        }
    }
    .col-12 {
        strong {
            font-size: 20px;
        }
    }

    .status-card {
        background-color: #fff;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        &:hover {
            background-color: #daedff;
        }
    }
}

// ! responsive
@media(max-width: 767px){
    .hero{
        .enrollment{
            margin: 30px 0;
        }
        .status-card-section{
            margin: 10px 0 30px 0;
        }
    }
}